<div class="container">
    <div class="row pt-5 pb-3 text-center text-red">
        <h1>{{'menu.label.teacher' | translate}}</h1>
        <h3 class="fst-italic mt-2">M.° Diego Di Mario</h3>
    </div>
    <div class="row mt-5 mb-3">
        <figure>
            <blockquote class="blockquote">
                <p>È il miglior trombonista solista della sua generazione in Italia</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Ian Bousfield <cite title="Source Title">ex primo trombone London Symphony Orchestra e Wiener Philharmoniker, docente Hochschule
                    der Kunste Bern, solista internazionale</cite>
                </figcaption>
        </figure>
        
        <figure>
            <blockquote class="blockquote">
                <p>È un artista di grande abilità, con un'accurata padronanza della tecnica e un suono completo in tutti i registri</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Joseph Alessi <cite title="Source Title">primo trombone New York Philarmonic, docente Juilliard School, solista internazionale</cite>
            </figcaption>
        </figure>
    </div>
    <div class="row" (click)="readMore.diego = !readMore.diego">
        <p><strong>Diego di Mario</strong> è Primo Trombone dell'Orchestra Sinfonica Nazionale della RAI dal 2015.</p>
        <p>Si diploma a 17 anni con il massimo dei voti e la lode presso l'Istituto Superiore di Studi Musicali G. Briccialdi di
            Terni. Si perfeziona presso la Scuola di Musica di Fiesole diventando Primo Trombone dell'Orchestra Giovanile
            Italiana.
        </p>
        <div *ngIf="readMore.diego">
            <ng-container *ngTemplateOutlet="diego"></ng-container>
        </div>
        <p class="text-muted fw-bold" role="button">{{readMore.diego ? 'Leggi meno...' : 'Leggi di più...'}}</p>  
        
        <ng-template #diego>
            <p>Nel 2008 vince il concorso per il posto di Secondo Trombone all'Opéra Royal de Wallonie di Liegi, dove rimane fino
                al 2009.
            </p>
            <p>Ha collaborato con l'Orchestre Philarmonique de Liège, l'Orchestra del Maggio Musicale Fiorentino, l'Orchestra
                Spira Mirabilis, l'Orchestra “Haydn” di Bolzano e Trento, l'Orchestra Regionale della Toscana, l'Orchestra del Teatro
                Regio di Torino, l'Orchestra del Teatro Petruzzelli di Bari e l'Orchestra Mozart; viene regolarmente invitato come
                Primo Trombone presso l'Orchestre Philarmonique de Monte Carlo e l'Orchestra Filarmonica di Torino.
            </p>
            <p>Ha ricoperto nella stagione 2011-2012 il ruolo di Primo Trombone presso l'Orchestra del Teatro alla Scala di Milano
                e l'Orchestra Filarmonica della Scala con la quale ha eseguito il “Bolero” di M. Ravel diretto dal M° Daniel
                Barenboim sia al Teatro alla Scala che in una tournée europea. Sempre come prima parte dell'orchestra scaligera
                ha registrato il CD “Viva Verdi” e il DVD “Gershwin live at la Scala” sotto la direzione del M° Riccardo Chailly.
            </p>
            <p>È stato Primo Trombone dell'Orchestra Sinfonica di Roma per la stagione 2013-2014 e, nello stesso anno, ha
                debuttato come solista eseguendo il “Concertino” di L. E. Larsson per trombone ed orchestra d'archi al Teatro del
                Fuoco di Foggia.
            </p>
            <p>Sempre in qualità di solista si è esibito con importanti compagini quali ad es. la Filarmonica Foronovana, l'orchestra
                “B. Bruni” di Cuneo.
            </p>
            <p>Fa parte del QUARTETTO ITALIANO DI TROMBONI, con il quale tiene Masterclass e concerti sia in Italia che
                all'estero. Con questa formazione ha registrato quattro CD: due live (Masterbrass II e Masterbras IV con solista
                Stefan Schulz -trombone basso dei Berliner Philharmoniker-), Passe-temps for 4 - il primo CD interamente dedicato
                al Quartetto Italiano di Tromboni- e The World on a Slide, incursione nel Jazz con musiche di Marcello Rosa.
            </p>
            <p>
                Nell'aprile 2018, il Quartetto è stato impegnato in una tournée in varie città europee e degli Stati Uniti d'America (tra
                cui New York, presso la rinomata Juilliard School). Con il Quartetto ha partecipato inoltre ad una Prima Mondiale
                Assoluta del brano “Four for four” di Nicola Ferro, per doppio quartetto di tromboni, affiancando il World Trombone
                Quartet (J. Alessi, J. van Rijen, M. Becquet, S. Schulz)
            </p>
            <p>
                Dal 2009 suona in duo con la pianista Hilary Bassi, esibendosi per importanti festival in Italia e all'estero (Francia,
                Belgio, Germania, Russia) e vincendo il Primo Premio Assoluto a numerosi concorsi cameristici nazionali ed
                internazionali quali il “G. Rospigliosi” di Lamporecchio, “Riviera Etrusca” di Piombino, “Città di Piove di Sacco”,
                “Luigi Nono” di Venaria Reale (dove il Duo vince anche il Premio Speciale Novecento). Al Duo sono stati dedicati
                brani da importanti compositori contemporanei quali Luigi Giachino e Riccardo Panfili.
            </p>
            <p>Molto attivo nell'ambito della musica da camera, è stato invitato dalla CAMERATA BERN per una tournè europea
                che lo ha visto collaborare con artiste del calibro di Patricia Kopatchinskaja e Anna Prohaska.
            </p>
            <p>Ha recentemente preso parte a San Pietroburgo alla XVI International Tchaikovsky Competition, essendo stato uno
                dei 13 trombonisti selezionati in tutto il mondo per rappresentare la categoria “Ottoni” per la prima volta in questa
                prestigiosissima competizione solistica. Dal 2020 al 2022 è stato insegnante della classe di ottoni presso la Civica
                Scuola di Musica “A. Rebora” di Ovada. E' presidente dell'Associazione Culturale Santa Cecilia, con la quale si
                occupa di promuovere lo sviluppo e la diffusione della cultura musicale, dell'arte e della cultura in generale. Per
                l'A.A. 2022/23 è stato insegnante per il Master di primo livello di trombone presso il Conservatorio “G. Puccini” di La
                Spezia.
            </p>
        </ng-template>
    </div>

    <div class="row my-3 pt-5 border-top border-muted">
        <div class="col-12 col-md-3 div-img d-flex align-items-center">
            <img src="assets/img/hilary.jpg" class="img-fluid" alt="Hilary Bassi">
        </div>
        <div class="col d-flex align-items-center" (click)="readMore.hilary = !readMore.hilary">
            <div>
                <p><strong>Hilary Bassi</strong> è pianista accompagnatore presso il Conservatorio G. Cantelli di Novara e direttore
                    artistico dell'Associazione Culturale Santa Cecilia.
                </p>
                <p>Si diploma all'età di 19 anni presso il Conservatorio di Alessandria, con il massimo dei voti e nel,
                    2010 consegue il diploma accademico di II livello, sempre con il massimo dei voti, presso il
                    Conservatorio di Terni.
                </p>
                
                <div class="d-none d-xxl-block">
                    <ng-container *ngTemplateOutlet="hilary"></ng-container>
                </div>
                <div class="d-block d-xxl-none">
                    <div *ngIf="readMore.hilary">
                        <ng-container *ngTemplateOutlet="hilary"></ng-container>
                    </div>
                    <p class="text-muted fw-bold" role="button">{{readMore.hilary ? 'Leggi meno...' : 'Leggi di più...'}}</p>  
                </div> 
                
                <ng-template #hilary>
                    <p>Si dedica regolarmente all'attività di pianista accompagnatore e camerista esibendosi in Italia,
                        Belgio, Olanda, Francia, Russia, Germania, Slovacchia e vincendo numerosi primi premi assoluti in
                        concorsi nazionali ed internazionali di musica da camera.
                    </p>
                    <p>Collabora regolarmente con solisti di fama internazionale e musicisti che fanno parte delle più
                        importanti Orchestre italiane ed estere (tra cui Orchestra Sinfonica Nazionale della RAI, Orchestra
                        del Teatro alla Scala di Milano, Teatro Regio di Torino, Berliner Philharmoniker, London Symphony
                        Orchestra, Wiener Philharmoniker, Japan Philharmonic, Deutsche Oper Berlin, Orchestre de la
                        Suisse Romande di Ginevra) nonchè docenti in scuole di alto perfezionamento (Haute école de
                        musique di Ginevra, Conservatoire Royal de Bruxelles, Hochschule der Künste in Bern, Hochschule
                        für Musik Freiburg, Conservatoire National Supérieur de Musique et de Danse di Parigi) come
                        Stefan Schulz, Ian Bousfield, Michael Buchanan, Ottaviano Cristofoli, Jamie Williams, Fabrice
                        Millischer, Marco Braito, Vincent Lepape, Matteo De Luca, Devid Ceste, Andrea Bandini, Gabriele
                        Cassone, Roberto Miele.
                    </p>
                    <p>È stata inoltre pianista di Roberto Ranfaldi, violino di spalla dell'Orchestra Sinfonica Nazionale
                        della RAI presso l&#39;Accademia Perosi di Biella e per ObiettivOrchestra (corso tenuto dalle Prime Parti
                        dell'Orchestra Filarmonica del Teatro Regio di Torino).
                    </p>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="row my-3 pt-5 border-top border-muted">
        <div class="col-12 col-md-6 order-md-last div-img d-flex align-items-center">
            <img src="assets/img/duo.jpg" class="img-fluid" alt="Duo Di Mario - Bassi">
        </div>
        <div class="col d-flex align-items-center" (click)="readMore.duo = !readMore.duo">
            <div>
                <p>Il <strong>Duo Di Mario - Bassi</strong> si forma nel 2009 con l'intento di intraprendere un cammino di ricerca
                    volto ad approfondire e far conoscere il repertorio cameristico per trombone e pianoforte, tanto
                    interessante quanto poco ascoltato. 
                </p>
                
                <div class="d-none d-xxl-block">
                    <ng-container *ngTemplateOutlet="duo"></ng-container>
                </div>
                <div class="d-block d-xxl-none">
                    <div *ngIf="readMore.duo">
                        <ng-container *ngTemplateOutlet="duo"></ng-container>
                    </div>
                    <p class="text-muted fw-bold" role="button">{{readMore.duo ? 'Leggi meno...' : 'Leggi di più...'}}</p>  
                </div> 
                
                <ng-template #duo>
                    <p>
                        Si esibisce in Italia e all'estero (Francia, Belgio, Russia,
                        Germania) suonando tra gli altri, per il festival Folliamusica, per l'Associazione Filarmonica Umbra
                        di Terni, presso il Centro Culturale De Laugier di Portoferraio, per il San Giacomo Festival di
                        Bologna, per gli Amici dell'opera di Pistoia e gli Amici del Carlo Felice di Genova, per gli
                        Amiciperlamusica di Venaria Reale, per l'Accademia Musicale Torinese, per Hirmos di Reggio
                        Emilia, per la Società Umanitaria di Milano, in occasione della 30esima edizione dell'ECIS presso
                        l'Università La Sapienza di Roma, per il festival SCLAB di Ravenna, per il Festival Fiati di Novara.
                    </p>
                    <p>Il Duo ha vinto il 1° Premio Assoluto per la categoria Musica da Camera ai Concorsi: Rospigliosi di
                        Lamporecchio, Riviera Etrusca di Piombino, Luigi Nono di Venaria Reale, dove vince anche il
                        Premio
                        Speciale Novecento (comune a tutte le categorie, per la migliore esecuzione di un brano scritto
                        dopo il 1950) e il 1° Premio al Concorso Città di Piove di Sacco.
                    </p>
                    <p>Sono dedicate al Duo composizioni edite di Riccardo Panfili (Iubilatio Doctoris Fausti) e Luigi
                        Giachino (Sentieri Ritrovati).</p>
                    </ng-template>
            </div>
        </div>
    </div>
</div>