<div class="container">
    <div class="row pt-5 pb-3 text-center text-red">
        <h1>{{'menu.label.teacher' | translate}}</h1>
        <h3 class="fst-italic mt-2">M.° Diego Di Mario</h3>
    </div>
    <div class="row mt-5 mb-3">
        <figure *ngFor="let quote of cv.diego.quote">
            <blockquote class="blockquote">
                <p>{{quote.quote | translate}}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {{quote.source}} <cite title="Source Title">{{quote.cite | translate}}</cite>
            </figcaption>
        </figure>
    </div>
    <div class="row" (click)="readMore.diego = !readMore.diego">
        <p *ngFor="let p of cv.diego.intro" [innerHTML]="p | translate"></p>
        <div *ngIf="readMore.diego">
            <p *ngFor="let p of cv.diego.body">{{p | translate}}</p>
        </div>
        <p class="text-muted fw-bold" role="button">{{readMore.diego ? ('text.teacher.hide' | translate) : ('text.teacher.read_more' | translate)}}</p>  
    </div>

    <div class="row my-3 pt-5 border-top border-muted">
        <div class="col-12 col-md-3 div-img d-flex align-items-center">
            <img src="assets/img/hilary.jpg" class="img-fluid" alt="Hilary Bassi">
        </div>
        <div class="col d-flex align-items-center" (click)="readMore.hilary = !readMore.hilary">
            <div>
                <p *ngFor="let p of cv.hilary.intro" [innerHTML]="p | translate"></p>
                
                <div class="d-none d-xxl-block">
                    <p *ngFor="let p of cv.hilary.body">{{p | translate}}</p>
                </div>
                <div class="d-block d-xxl-none">
                    <div *ngIf="readMore.hilary">
                        <p *ngFor="let p of cv.hilary.body">{{p | translate}}</p>
                    </div>
                    <p class="text-muted fw-bold" role="button">{{readMore.hilary ? ('text.teacher.hide' | translate) : ('text.teacher.read_more' | translate)}}</p>  
                </div> 
            </div>
        </div>
    </div>

    <div class="row my-3 pt-5 border-top border-muted">
        <div class="col-12 col-md-6 order-md-last div-img d-flex align-items-center">
            <img src="assets/img/duo.jpg" class="img-fluid" alt="Duo Di Mario - Bassi">
        </div>
        <div class="col d-flex align-items-center" (click)="readMore.duo = !readMore.duo">
            <div>
                <p *ngFor="let p of cv.duo.intro" [innerHTML]="p | translate"></p>
                
                <div class="d-none d-xxl-block">
                    <p *ngFor="let p of cv.duo.body">{{p | translate}}</p>
                </div>
                <div class="d-block d-xxl-none">
                    <div *ngIf="readMore.duo">
                        <p *ngFor="let p of cv.duo.body">{{p | translate}}</p>
                    </div>
                    <p class="text-muted fw-bold" role="button">{{readMore.duo ? ('text.teacher.hide' | translate) : ('text.teacher.read_more' | translate)}}</p>  
                </div> 
            </div>
        </div>
    </div>
</div>