<div class="container">
    <div class="row pt-5 pb-3 text-center">
        <h1 class="text-red">{{'menu.label.program' | translate}}</h1>
    </div>
    <div class="row mt-3">
        <div class="col my-3 d-flex justify-content-center">
            <div class="card text-center" style="border: none!important;">
                <div class="card-body">
                    <h5 class="card-title text-red py-3"><i class="fa-regular fa-clock fa-lg"></i></h5>
                    <h5 class="card-text">Lezioni individuali di <strong>45 minuti</strong> tutti i giorni per ogni allievo</h5>
                </div>
            </div>
        </div>
        <div class="col my-3 d-flex justify-content-center">
            <div class="card text-center" style="border: none!important;">
                <div class="card-body">
                    <h5 class="card-title text-red py-3"><i class="fa-solid fa-users fa-lg"></i></h5>
                    <h5 class="card-text">Lezioni di <strong>musica d'insieme</strong> e <strong>passi d'orchestra</strong> in sezione</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col my-3 d-flex justify-content-center">
            <div class="card text-center" style="border: none!important;">
                <div class="card-body">
                    <h5 class="card-title text-red py-3"><i class="fa-solid fa-music fa-lg"></i></h5>
                    <h5 class="card-text">Concerto del <strong>Duo Di Mario Bassi</strong> giovedì 29/08 ore 21</h5>
                </div>
            </div>
        </div>
        <div class="col my-3 d-flex justify-content-center">
            <div class="card text-center" style="border: none!important;">
                <div class="card-body">
                    <h5 class="card-title text-red py-3"><i class="fa-solid fa-volume-high fa-lg"></i></h5>
                    <h5 class="card-text"><strong>Concerto finale</strong> degli allievi sabato 31/08 ore 18</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row py-5">
        <p>Sarà cura dell'Associazione Culturale Filarmonica G. Verdi provvedere alla sistemazione dei locali 
            per l'alloggio di tutti gli allievi iscritti, in maniera del tutto gratutita.</p>
        <p>Per andare incontro alle esigenze di allievi provenienti da lontano, offriamo un pacchetto di iscrizione comprensivo 
            anche di pranzi e cene per tutti i giorni effettivi di masterclass, a prezzi popolari.</p>
            <p>Di seguito il dettaglio dei costi di iscrizione</p>
        </div>
    <div class="row text-center">
        <div class="col-12 col-md-6 my-3 d-flex justify-content-center">
            <div class="card rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Solo masterclass</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-red">€340</h2>
                    <ul class="card-text list-unstyled mt-3 mb-4">
                        <li>Iscrizione al corso</li>
                        <li>Alloggio gratuito</li>
                        <li>4 colazioni</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 my-3 d-flex justify-content-center">
            <div class="card rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pensione completa</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-red">€400</h2>
                    <ul class="card-text list-unstyled mt-3 mb-4">
                        <li>Iscrizione al corso</li>
                        <li>Alloggio gratuito</li>
                        <li>4 colazioni</li>
                        <li><strong>4 pranzi</strong></li>
                        <li><strong>4 cene</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="row text-md-center mt-4">
        <p><strong>L'effettiva partenza del corso è condizionata al raggiungimento minimo di 8 allievi iscritti.</strong></p>
    </div>
</div>