<div class="container">
    <div class="row pt-5 pb-3 text-center">
        <h1 class="text-red">{{'menu.label.contact' | translate}}</h1>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card rounded-3 text-center" style="border: none!important;" role="button" (click)="clickLink('francesco-wa')">
                <div class="card-body p-0">
                    <h2 class="card-title text-success py-4"><i class="fa-brands fa-whatsapp fa-lg"></i></h2>
                    <p>Francesco
                        <a id="francesco-wa" class="text-dark" href="https://wa.me/+393342791655">334 279 1655</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card rounded-3 text-center" style="border: none!important;" role="button" (click)="clickLink('andrea-wa')">
                <div class="card-body p-0">
                    <h2 class="card-title text-success py-4"><i class="fa-brands fa-whatsapp fa-lg"></i></h2>
                    <p>Andrea
                        <a id="andrea-wa" class="text-dark" href="https://wa.me/+393384241404">338 424 1404</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <div class="card rounded-3 text-center" style="border: none!important;" role="button" (click)="clickLink('banda-email')">
                <div class="card-body p-0">
                    <h2 class="card-title text-red py-4"><i class="fa-regular fa-envelope fa-lg"></i></h2>
                    <p>
                        <a id="banda-email" class="text-dark" href="mailto:banda.giuseppeverdi@libero.it">banda.giuseppeverdi@libero.it</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>