/* You can add global styles to this file, and also import other style files */
#header {
    background-image: url(assets/img/diego.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

@media screen and (min-width:600px) {
    #header {
        background-size: contain;
    }
}